<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
</head>
<body>
<table>
    <tr>
        <th>Customer</th>
        <th>Phone</th>
    </tr>
    <tr th:object="${customer}">
        <td th:text="*{fullName}"></td>
        <td th:text="*{phone}"></td>
    </tr>
</table>

<table>
    <tr>
        <th>№</th>
        <th>Additional Info</th>
        <th>Status</th>
        <th>Date</th>
    </tr>
    <tr th:each="item : ${customer.items}">
        <td th:text="*{item.id}"></td>
        <td th:text="${item.additionalInfo}"></td>
        <td th:text="*{item.status}"></td>
        <td th:text="${#dates.format(item.date, 'yyyy-MM-dd')}"></td>
        <td><a th:href="@{/edit_order/{id}(id=${item.id})}">Edit</a></td>
        <td><a th:href="@{/delete_order/{id}(id=${item.id})}">Delete</a><td>
    </tr>
</table>
</body>
</html>
